body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
html, body, #root {
  height: 100%;
}
.Main {
  height: 100%;
  display: flex;
  flex-direction: column;

}
.wrapper {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.Forms {
  height: 40%;
  width: 100%;
  overflow: auto;
}
.Lists {
  height: 60%;
  width: 100%;
  overflow: auto;
}
